@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}

body {
  background-image: url(background/landscape.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: url('./sprites/pointer.png'), auto;
}

#colisionCanvas {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 1rem;

  background-color: #222222e2;
}

.modal {
  position: relative;
  border: 1px solid white;
  height: 300px;
  max-width: 500px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;

  background-color: #1b487431;
  box-shadow: 1px 1px 5px #2c6ba3cc;
}

.title {
  position: relative;
  font-family: 'Bungee', cursive;
  font-size: 3rem;
  color: white;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.692);
}

.title-special {
  font-size: 4rem;
}

.title-special::after {
  position: absolute;
  content: 'Shot';
  font-size: 2.5rem;
  color: rgb(71, 122, 205);

  transform: translate(-70%, 50%) rotate(-10deg);
}

.transtale {
  position: absolute;
  transform: translate(6rem, 2rem) rotate(-20deg);
}

.button {
  font-size: 1.2rem;
  border: 1px solid white;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-weight: bold;

  transition: transform 0.8s ease-out, box-shadow 0.5s ease-in-out;
  box-shadow: 1px 1px 1px #1d7ccfcc;
}

.button:hover {
  transform: scale(1.05) translate(-5px, -5px);
  box-shadow: 3px 3px 3px #2c6ba3cc;
}

.button:active {
  transform: scale(1);
  box-shadow: inset 2px 2px 5px #00000090;
}

.hidden {
  display: none;
}

.score {
  margin: -20px 0 30px 0;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}